<section class="vh-100 mt-4" style="background-color: rgb(158, 163, 173);">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">
            <form method="POST" action="/account/add">

               <h3 class="mb-5">Sign up</h3>

               <div class="form-outline mb-4">
                  <input type="text" id="username" name="username" class="form-control form-control-lg" placeholder="Enter username" value="user1"/>
               </div>

               <div class="form-outline mb-4">
                 <input type="password" id="psw" name="psw"  class="form-control form-control-lg" placeholder="Enter password" value="06112003"/>
               </div>

               <button class="btn btn-warning btn-lg btn-block" type="submit">Sign Up</button>

           </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>